{% extends 'base.jinja2' %}

{% block head %}
  <meta charset="UTF-8">
  <title>404 - Page not found</title>
{% endblock %}

{% block body %}
  <h1>{{ message }}</h1>
  <p>Cannot find a post with id <b>{{ id }}</b></p>
{% endblock %}